.cadastro {
  width: 100%;
  display: table;
  margin-top: 20px;
}

.cadastro > .formulario {
  width: 40%;
  display: table-cell;
}

.cadastro > .ajuda {
  width: 50%;
  display: table-cell;
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.cadastro > .formulario > form > label, input {
  display: block;
}

.formulario > form > input {
  width: 90%;
  height: 40px;
  margin-bottom: 20px;
}

.btn-enviar {
  width: 160px;
  height: 50px;
  background-color: #007ff4;
}

.btn-enviar:hover {
  background-color: #0058aa;
}
